.filter {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: rgb(34, 34, 34);
  border-radius: 12px;
  margin-bottom: 40px;
}

.filter__label {
  display: flex;
  flex-direction: column;
  color: rgb(225, 227, 230);
  gap: 20px;
}

.filter__select {
  color: rgb(225, 227, 230);
  background-color: rgb(34, 34, 34);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: 5px;
}
